@charset "UTF-8";

#main_1{
	width:820px;
	height:200px;
	background-color:red;
	}
	
#header{
	width:820px;
	height:200px;
	background-color:pink;
}

#footer{
	width:820px;
	height:200px;
	background-color:skyblue;
}