@charset "UTF-8";

#contener{
	width:1024px;
	margin:auto;
	
}

#main_1{
	width:1000px;
	height:666px;
/*	background-image: url(./images/); */
	}
	
#header{
	width:1000px;
	height:666px;
	background-color:pink;
	background-image: url(./images/bg1.jpg);
	background-repeat:no-repeat;
	

}

#footer{
	width:1000px;
	height:666px;
	background-color:skyblue;
		background-image: url(./images/bg2.jpg);
	background-repeat:no-repeat;
	
}

h1{
	text-align:center;
	color:white;
}

.btn a{
	display:block;
	float:left;
	width:100px;
	height:40px;
	text-align:center;
	line-height:40px;
	text-decoration:none;
	font-weight:bold;
	color:#fff;
}